<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetThePic"
        tools:targetApi="31">
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.UserInfo"
            android:exported="false" />
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.SignInActivity"
            android:exported="false" />
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.SplashScreen"
            android:exported="false" />
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.About"
            android:exported="false" />
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.menu"
            android:exported="false" />
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.GameActivity"
            android:exported="false" />
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="cat.udl.getthepic.gtidic.udl.getthepic.android.jjd2223.views.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>